.container {
    background-color: var(--primary-color);
    color: black;

    display: flex;
    flex-direction: row;
    gap: 1rem;
    padding: 2rem;
}

.authorImage {
    width: 300px;
    height: 300px;
    object-fit: cover;
    object-position: 50% 50%;
    border-radius: 1rem;
}
.container p {
    padding: 1rem 0;
}

.jobInfo {
    display: flex;
    flex-direction: column;
}


@media only screen and (max-width: 900px){
    .container{ 
        display: block;
        margin: 1rem;
    }
    .authorImage {
        display: none;
    }

}