.container{
    background-color: var(--third-color);
    color: var(--secondary-color);
    padding: 1rem;
    width: 100%;
}

.profileContainer {
    /* display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); */

    display: flex;
    flex-direction: row;
    gap: 0.5rem 1rem;
    flex-wrap: wrap;

}

.profileImage {
    background-color: black;
    width: 200px;
    height: 200px;
    /* border: solid white 2px; */
}

.profileImage:first-child {
    background-size: cover;
    background-color: black;
    background-repeat: no-repeat;
    background-position: center;
}