.container{
    background-color: var(--third-color);
    color: var(--secondary-color);
    padding: 1rem;
    width: 100%;
}

.profileContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    /* gap: 1rem; */

    /* display: flex;
    flex-direction: row;
    gap: 0.5rem 1rem;
    flex-wrap: wrap; */

}

.projectContainer {
    padding: 1rem;
}

.profileImage {
    background-color: black;
    /* width: 150px; */
    height: 150px;
    border: solid white 2px;
}

.profileImage:first-child {
    background-size: cover;
    background-color: white;
    background-repeat: no-repeat;
    background-position: center;
}