.container{
    background-color: var(--primary-color);
    color: var(--secondary-color);
    padding: 1rem;
    width: 100%;
}

.profileContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

.projectContainer {
    padding: 1rem;
}

.profileImage {
    background-color: black;
    width: 100%;
    height: 150px;
    border: solid white 2px;
    object-fit: cover;
}

.readMoreClient {
    background-color: var(--secondary-color);
    color: white !important;
    padding: 1rem;
    margin: 1rem 0;
}