.container{
    color: var(--secondary-color);
    padding: 1rem;
    width: 100%;
}

.profileContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

.projectContainer {
    padding: 1rem;
    color: var(--secondary-color) !important;
    text-decoration: none;
}

.profileImage {
    background-color: black;
    width: 100%;
    height: 150px;
    border: solid white 2px;
    object-fit: cover;
}

.readMoreClient {
    background-color: var(--secondary-color);
    color: white !important;
    padding: 1rem;
    margin: 1rem 0;
}

.noContent {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 8px;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-weight: bolder;
    align-items: baseline;
    gap: 5px;
}

