.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  padding-bottom: 1rem;
  width: 100%;
}

.profileImage{
  max-width: 100%;
  height: auto;
  padding: 2rem;
}

.clickableLink {
    color: #006666;
}


@media only screen and (max-width: 900px){
  .intro {
      display: none;
  }
  .profileImage {
      margin-bottom: 1rem;
      aspect-ratio: 4/5;
  }
  div#intro-mobile {
      display: flex;
      background-color: var(--primary-color);
      color: var(--secondary-color);
      flex-direction: column;
      align-items: center;
      margin-top: 2rem;
      padding: 2rem;
  }

}