.intro {
  display: flex;
  flex-direction: row;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  padding: 2rem;
  gap: 2rem;
  border-radius: 1rem;
}

.introText {
 display: flex; 
 flex-direction: column;
 justify-content: center;
 align-items: center;
 gap: 0.5rem;
 width: 100%;
}
.profileImage{
  height: auto;
  width: 20rem;
  border-radius: 1rem;
}

.clickableLink {
    color: #006666;
}


@media only screen and (max-width: 900px){
  .profileImage {
    display: none;
  }

}