.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    font-size: 1.5rem;

    width: 100%;
}

.placeHolderImage {
    width: 100%;
    height: 300px;
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
}

.placeHolderText {
    transform: rotate(45deg);
    font-size: 2rem;
}

.projectInfo {
    width: 100%;
}