.container {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 2rem;
        /* margin: 1rem 0; */
        /* border: solid white 1px; */
        background-color: var(--third-color);
        color: var(--secondary-color);
}

.image {
    width: 208px;
    height: 157px;
    font-size: 8px;
    letter-spacing: -2px;
    text-wrap: nowrap;

    display: inline-block;
    border-width: 4px 6px;
    border-color: black;
    border-style: solid;
    background-color: black;
}

.contentContainer {
    display: flex;
    flex-direction: column-reverse;
    margin: 1rem 0;
    justify-content: center;
    align-items: center;
}


.testimonialText {
    min-height: 110px;
    width: 630px;
}
.testimonialText p:first{
    display: none;
}

.testimonialText p:last-child br:last-child {
  display: none;
}

.infoContainer {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    gap: 0.5rem;
    margin-bottom: 1rem;
    max-width: 450px;
}

@media only screen and (max-width: 900px){
    .container {
        flex-direction: column;
        align-items: center; 
        gap: 1rem;
    }
    .image {
        padding-top: inherit;
        margin: inherit;
    }
    .contentContainer {
        margin: inherit;
        align-items: center;
        padding: 0 1rem;
        max-width: 600px;
    }
    .infoContainer {
        padding: 0 1rem;
    }

    .testimonialText {
        width: auto;
    }
}