.container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 400px;
  height: auto;
  background-color: #f0f0f0;
  padding: 1rem;
  text-decoration: none;
}

/* Need everything serverside so the SEO gods can see my blog post and rank them based on the backlines... keeps ever page unquie as well */
.container:hover {
  transform: scale(1.01);
  transition: transform 0.3s ease-in-out;
}

.image {
  width: 100%;
  height: 50%;
  object-fit: cover;

  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  color: #000;
}

.content h3 {
    text-decoration: underline;
    text-underline-offset: 0.2rem;
    text-decoration-thickness: 0.1rem;
    text-decoration-color: var(--primary-color);
}

.content p {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  line-clamp: 5;
  box-orient: vertical;
}

@media only screen and (max-width: 900px){
  .image { 
    height: 234px;
    width: auto;
    flex: 1;
  }

  .content {
    flex: 2;
    gap: 0.3rem;
  }

  .content p {
    line-clamp: 2;
    box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    height: 250px;
    width: auto;
    padding: 0.5rem;
  }


}