.container {
          color: var(--secondary-color);
          width: 100%;
          padding: 2rem;
          display: flex;
          align-items: center;
          flex-direction: column;
          gap: 1rem;

}