.bodyContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.innerBodyContent {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 900px;
}
@media only screen and (max-width: 900px){
.bodyContent {
        display: initial;
    }
    .innerBodyContent {
        display: initial;
        max-width: initial;
    }
}