.bodyContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 900px;
}

.innerBodyContent {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}