.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  padding-bottom: 1rem;
  width: 100%;
  
}

.introMobile {
  display: none;
}

@keyframes cursor-blink {
  0% {
      opacity: 0;
  }
}
.bio {
  display: flex;
  flex-direction: column;
  padding: 4vw;
  font-size: 1rem;
  min-height: calc(100vh - (var(--footer-height) + 40px));
}
.bio p:last-child {
  display: inline-block;
}
.bio p:last-child br:last-child {
  display: none;
}
.bio p:last-child:after {
content: "";
width: 1rem;
height: 1.5rem;
margin-left: .5rem;
vertical-align: -25%;
background: var(--cursor-color);
display: inline-block;
animation: cursor-blink 1s steps(2) infinite;
}

@media only screen and (max-width: 900px){
  div#intro-mobile {
      display: flex;
      background-color: var(--primary-color);
      color: var(--secondary-color);
      flex-direction: column;
      align-items: center;
      margin-top: 2rem;
      padding: 2rem;
  }

  .bio {
      font-size: 1rem;
      margin-bottom: 1rem;
      min-height: initial;
  }
}