.bio {
  display: flex;
  flex-direction: column;
  font-size: 1rem;
}
.bio p {
  /* margin: 1rem; */
}
.body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.body > :nth-child(even) {
  background-color: var(--third-color);
}

.body > :nth-child(odd) {
  background-color: var(--primary-color);
}