.container {
    position: sticky;
    top: 0;
    z-index: 4;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 2rem;
    padding-left: 2rem;
}

@media (max-width: 900px) {
    .container {
        position: initial;
        padding-top: inherit;
        z-index: inherit;
    }
}