.outerContainer {
    display: flex;
    flex-direction: row-reverse;
    gap: 0.5rem;
}

.outlineContainer {
    /* background-color: var(--primary-color); */
    margin-top: 2.5rem;
    width: 300px;
}

.outlineList {
    width: 300px;
    padding: 0;
    margin: 0;
    position: sticky;
    top: 100px;
}

.outlineList a {
    color: white;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    /* padding: 1rem; */
    max-width: calc(900px - 300px);
}
.container h2 {
    text-transform: capitalize;
}

.headerImage {
    object-fit: cover;
    -webkit-mask-image: linear-gradient(black, transparent);
    mask-image: linear-gradient(black, transparent);
    width: 100%;
    padding: 2rem;
}

.readTime {
    display: flex;
    flex-direction: row;
    /* gap: 1rem; */
}

.readTime small::after {
    content: "*";
    color: #666;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.readTime small:last-child::after {
    content: "";
}

.contentArea {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 0 2rem;
}

.content p {

    margin: 1rem 0;
    padding: 0;
}

.content iframe{
    width: 100%;
    height: auto;
    aspect-ratio: 16 / 9;
}